# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
#/genomeshuffle/build/
test/
data/cds
data/freqs
data/bicodon


# Add all the file types I'm interested in.
!.gitignore
!*.py
!*.sh
!*.md
!*.ipynb
!data/refseq.csv

# add all the filename I'm interested in.
#!target.csv

.ipynb_checkpoints
