# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
#/genomeshuffle/build/
test/
data/cds
data/freqs
data/bicodon
__pycache__/


# Add all the file types I'm interested in.
!.gitignore
!*.py
!*.sh
!*.md
!*.ipynb
!data/refseq.csv
!data/bicodon.tsv

# add all the filename I'm not interested in.
.ipynb_checkpoints
